<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    	 *{
           font-size: 16px;
          color: #333333;
      }
      body {
        margin: 10px 0;
        font-family: Roboto, Arial, "sans-serif";
        background-color: black
      }
      .container {
        margin: 0 auto;
        max-width: 600px;
        background: #fff
      }
      .btn-confirm {
        background: linear-gradient(90deg, #EA5165 0%, #EF8E87 100%);
        border-radius: 30px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        color: #fff !important;
        display: inline-block;
        text-align: center;
        margin: 0px;
      }
      .welcome {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 40px;
      }
      .text-align-left {
          text-align: left
      }
      .content {
          text-align: left
      }
      .center {
        text-align: center;
      }
      p {
        margin: 10px;
        color: #333333;
        font-size: 16px;
        text-align: left;
      }
      .container {
        width: 550px;
        margin: 0px auto;
      }
      .code {
        background: #000;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-weight: bold;
        display: inline-block;

      }
      .container div {
        padding-left: 20px;
        padding-right: 20px;
      }
      .footer{
        text-align: left;
        color: #828282;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      @media only screen and (max-width: 600px) {
      .container {
        width: 100%;
        }
    }
    </style>
</head>
<body>
    <div class="center">
        <img src="https://i.ibb.co/72nXnBS/image-5.jpg" alt="logo" width="60px">
    </div>
    <div class="container">
        <p class="welcome">Kính gửi quý khách</p>
        <br/>
        <hr style=" border-top: 1px solid #f1f1f1; border-bottom: 0px; margin: 0px 10px"/>
        
        <div class="footer">            
            <p>
               Give Away Premium Quận 1 xin thông báo, quý khách hiện có mã ký gửi hàng hóa được tổng kết vào <%= timeGetMoney; %>
            </p>

            <p>
              Quý khách có <%= remainNumConsignment; %> sản phẩm tồn, với hình thức thanh toán chuyển khoản: Quý khách vui lòng kiểm tra lại thông tin chuyển khoản đã cung cấp (thông qua mục Xem Tổng Kết ở website). GAP sẽ liên hệ để lấy địa chỉ ship hàng tồn (khách thanh toán phí ship). Sau khi gửi trả hàng tồn, GAP sẽ thanh toán tiền tất toán qua chuyển khoản (phí dịch vụ 10k).
            </p>

            <p>
              Lưu ý, quá thời gian 2 tháng kể từ ngày tổng kết, nếu GAP vẫn không thể liên hệ được với quý khách, hàng tồn sẽ được chuyển đến kho từ thiện.
            </p>
            
            <p>
              Nếu cần hỗ trợ các vấn đề khác, quý khách vui lòng gọi hotline – 0703334443.
              Give Away Premium Quận 1 xin chân thành cảm ơn.
            </p>
        </div>
    </div>
</body>

</html>
